@import "tailwindcss";
:root {
  --color-primary: #00d991;
}

@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

@layer components {
  .container {
    padding: 1.25rem;
    margin: 0 auto;
  }
}

@layer utilities {
  .bg-primary {
    background-color: var(--color-primary);
  }
}
